<div class="banner text-white mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba');">
  <div class="text-center">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>

<div class="container mt-5">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>My Lists</h1>
    <%= link_to "Create New List", new_list_path, class: "btn btn-success" %>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4">
        <div class="position-relative">

          <%= link_to list_path(list), class: "text-decoration-none" do %>
            <div class="list-card mb-4"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url('<%= list.photo.attached? ? url_for(list.photo) : "https://images.unsplash.com/photo-1485846234645-a62644f84728" %>');">
              <%= list.name %>
            </div>
          <% end %>

          <%= button_to "✕",
            list_path(list),
            method: :delete,
            data: { turbo_confirm: "Delete this list?" },
            class: "btn btn-danger btn-sm position-absolute top-0 end-0 m-2" %>

        </div>
      </div>
    <% end %>
  </div>

</div>
